*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: white ;
}
.header
{
    background-color: red;
    width: 100%;
    height: 9vh;
    text-align: center;
}
.header h2
{
    color: white;
    font-family: cursive;
    font-size: 2.4vw;
    font-weight: 900;
    text-align: center;
    
}
.slider
{
    width: 98.5vw;
    height: 50vh;
    margin-left: 0.75vw;
    margin-top: 1.6vh;
    border-radius: 0.9vw;
    overflow: hidden;
    transition: 0.5s;
    /* border: 0.1vh solid black; */
}
.slider img
{
    width: 100%;
    height: 100%;
}
.flex1
{
    display: flex;
}
.title
{
    width: 23vw;
    height:5vh;
    background-color: aqua;
    border: 0.1vh solid transparent;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 3px 3px white;
    margin-top: 3vh;
    margin-left: 1vw;
    box-shadow: none;

}
.title h3
{
    font-size: 1.3vw;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    color: white;
    position: relative;
    top: 0.4vh;
}
.additem,.addquantity
{
    width: 21vw ;
    height: 5.5vh;
    border: none;
    outline: none;
    background-color: rgb(221, 217, 217);
    margin-left: 1.5vw;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    font-weight: 500;
}
.additem::placeholder,
.addquantity::placeholder
{
    font-size: 1.24vw;
}
.add
{
    margin-top: 3vh;
    margin-left: 1.5vw;
    width: 21vw;
    height: 5.6vh;
    background-color: rgb(221, 217, 217);
    outline: none;
    color: rgb(20, 19, 19);
}
.add:hover{
    background-color: rgb(18, 190, 190);
    color: white;
    box-shadow: none;

}
.header2
{
    width: 53vw;
    height: 5vh;
    background-color: rgb(12, 220, 220);
    margin-top: 3vh;
    margin-left: 21vw;
    border-radius: 0.5vw;
        box-shadow: 0px 0px 3px 3px white;
        display: flex;

}
.header2 p
{
    font-size: 1.3vw;
    color: black;
    font-weight: 550;
    margin-left: 15vw;
    justify-content: space-around;
    position: relative;
    top: 0.4vh;

}
.list {
    width: 53vw;
    height: 5vh;
    background-color: rgb(221, 217, 217);
    margin-top: 1.3vh;
    margin-left: 21vw;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 3px 3px white;
    display: flex;
    

}

.list p {
    font-size: 1.3vw;
    color: black;
    font-weight: 500;
    margin-left: 7vw;
    justify-content: space-around;
    position: relative;
    top: 0.4vh;
    width:30vw;
    cursor: pointer;

}
