
.main_div {
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.center_div {
    width: 33vw;
    min-height: 70vh;
    margin: auto;
    background-color: white;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    margin-top: 13.5vh;
    transition: background 1s;
    /* margin-left: 50vw; */
    /* box-shadow: 0px 0px 100px 100px blueviolet; */


}


input {
    width: 17vw;
    height: 6vh;
    border: none;
    border-bottom: 0.1vh solid #cecece;
    font-size: 2vw;
    margin-left: -9vw;
    margin-top: 2vh;
    outline: none;
}

.inputbuttom {
    width: 3.3vw;
    height: 7vh;
    border: 0.2vw solid transparent;
    border-radius: 50%;
    margin-left: 4vh;
    background-color: blue;
    color: white;
    background-color: blue;
    font-size: 2vw;
    font-weight: 900;
    text-align: center;
    outline: none;

}

.inputbuttom:hover {
    background-color: green;
}

ol {
    margin-top: 6vh;
}

li {
    list-style: none;
    color: #cececece;
    font-size: 2vw;
    text-align: left;
    margin-left: 1vw;
    margin-top: 2vh;

}

.todostyle {
    display: flex;
    margin-left: 5vh;
    margin-top: -1vh;
}

.cutbuttom {
    width: 2vw;
    margin-left: 1vw;
    height: 4.5vh;
    border: 0.1vw solid transparent;
    border-radius: 50%;

    background-color: rgb(60, 60, 60);
    color: white;

    font-size: 1.5vw;
    font-weight: 900;
    text-align: center;
    margin-top: 3vh;

}

.todostyle li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
}

.cutbuttom:hover {
    background-color: red;
}

#incdrc {
    margin: 0;
    padding: 0;
    margin-top: 8vw;
    height: 12vh;
    width: 100%;
    font-size: 4.8vw;
    font-weight: 900;
}

.incbuttom {
    width: 8.5vw;
    height: 7.6vh;
    background-color: black;
    color: white;
    font-size: 2vw;
    font-weight: 900;
    margin-top: 7vh;
    position: relative;
    left: -5vw
}

.incbuttom:hover {
    background-color: green;
    border: 0.1vw solid green;
    border-radius: 2vw;


}

.decbuttom {
    width: 8.5vw;
    height: 7.6vh;
    background-color: black;
    color: white;
    font-size: 2vw;
    font-weight: 900;
    margin-top: 7vh;
    position: relative;
    left: 3vw
}

.decbuttom:hover {
    background-color: red;
    border: 0.1vw solid red;
    border-radius: 2vw;


}


.profile_container
{
    width: 23vw;
    height: 89vh;
    background-color: white;
    border: 0.1vh solid white;
    border-radius: 0.5vw;
    margin-left: 7vw;
    margin-top: -1vh;
        box-shadow: 0px 0px 2px 2px blueviolet;

}
.imgbox
{
    width: 20vw;
    height: 41vh;
    margin-left: 3vh;

}
.img
{
  width: 100%;
  height: 100%;
}
.name{
    text-align: left;
    font-size: 1.6vw;
    margin-top: 2vh;
    font-weight: 700;
    margin-left: 3vh;
}
.age ,.location,.organization{
    text-align: left;
    font-size: 1.6vw;
    margin-top: 2vh;
    font-weight: 700;
    margin-left: 3vh;
}
.increaseage
{
    width: 10vw;
    height: 5vh;
    margin-left: 0vh;
  


}
.decreaseage {
    width: 10vw;
    height: 5vh;
    margin-left: 5vh;
    



}
.showmore {
    width: 15vw;
    height: 5vh;
    margin-left: 1vh;
    margin-top: 2vh;



}
button {
    width: 7vw;
    height: 6vh;
    background-color: rgb(14, 217, 217);
    color: white;
    font-weight: 550;
    outline: none;
    border: 0.1vh solid transparent;
    font-size: 1.3vw;
    border-radius: 0.6vw;
    margin-top: 7vh;
    margin-left: 12.2vw;

}

button:hover {
    box-shadow: 0 0 2px 2px aquamarine;
}



.alage {
    display: flex;
    /* padding: 20px; */
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

/* nav a.active
{
  font-weight: 700;
  color: blueviolet;
  text-decoration: none;
} */